<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile
      *ngFor="let card of cards | async"
      [colspan]="card.cols"
      [rowspan]="card.rows"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="Graph" *ngIf="card.barChartData"><canvas
            baseChart
            width="6"
            height="6"
            [type]="'bar'"
            [data]="card.barChartData"
            [options]="card.barChartOptions"
          >
          </canvas>
        </div>
        <div class="Graph" *ngIf="card.lineChartData"><canvas
          baseChart
          width="6"
          height="6"
          [type]="'line'"
          [data]="card.lineChartData"
          [options]="card.lineChartOptions"
        >
        </canvas>
      </div>
      <div class="Graph" *ngIf="card.lineChartData2"><canvas
          baseChart
          width="6"
          height="6"
          [type]="'line'"
          [data]="card.lineChartData2"
          [options]="card.lineChartOptions2"
          ></canvas>
      </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
