.grid-container {
  margin: 0px;
  background-color: #E8E9ED;
  padding: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 4px 8px 10px;
}



.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.Graph{
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right:auto;
}
