<div id="left-side-content">
  <mat-list *ngIf="footballer">
    <mat-list-item>
      <img src="../../../assets/placeholder.jpg" alt="Picture of footballer" />
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Naam:</span>
      <span matListItemLine>{{ footballer.lastname }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Voornaam:</span>
      <span matListItemLine>{{ footballer.firstname }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Positie:</span>
      <span matListItemLine>{{ footballer.position }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Geslacht:</span>
      <span matListItemLine>{{ footballer.gender }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Team:</span>
      <span matListItemLine>{{ footballer.team }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Status:</span>
      <span matListItemLine>{{ footballer.playerStatus }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Geboortedatum:</span>
      <span matListItemLine>{{ footballer.dateOfBirth }}</span>
    </mat-list-item>
    <mat-list-item *ngIf="footballer.length">
      <span matListItemTitle>Lengte:</span>
      <span matListItemLine>{{ footballer.length }}cm</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Dominante Voet:</span>
      <span matListItemLine>{{ footballer.dominantFoot }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Win percentage:</span>
      <span matListItemLine>{{ winPercentage }} %</span>
    </mat-list-item>
  </mat-list>

  
</div>
<div id="right-side-content" style="display: block" *ngIf="footballer">
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select
          [(ngModel)]="selectedValue"
          (selectionChange)="setSelectedObject()"
        >
          <mat-option
            *ngFor="let footballerMatch of footballerMatches"
            [value]="footballerMatch.dateOfMatch"
          >
            {{ footballerMatch.dateOfMatch }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <table id="matchinfo">
        <tr>
          <td>Match datum</td>
          <td *ngIf="selectedObject">{{ selectedObject.dateOfMatch }}</td>
          <td *ngIf="!selectedObject">x</td>
        </tr>
        <tr>
          <td>Tegenspeler</td>
          <td *ngIf="selectedObject">{{ selectedObject.opponent }}</td>
          <td *ngIf="!selectedObject">x</td>
        </tr>
        <tr>
          <td>Score</td>
          <td *ngIf="selectedObject">{{ selectedObject.score }} : {{ selectedObject.opponentScore }}</td>
          <td *ngIf="!selectedObject">x</td>
        </tr>
        <tr >
          <td *ngIf="!selectedObject">Gele Kaarten</td>
          <td *ngIf="selectedObject"> Gele Kaarten voor {{ footballer.firstname }} {{ footballer.lastname }}</td>
          <td *ngIf="selectedObject">{{ selectedObject.yellowCards }}</td>
          <td *ngIf="!selectedObject">x</td>
        </tr>
        <tr >
          <td>Rode Kaart</td>
          <td *ngIf="selectedObject">{{ selectedObject.redCard }}</td>
          <td *ngIf="!selectedObject">x</td>
        </tr>
      </table>
      <hr />
      <canvas
      baseChart
      width="400"
      height="400"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
      </canvas>
   

    
</div>
