span {
    margin: 20px;
    width: 90px;
}

#left-side-content {
    float: left;
    height: 100%;
    width: 30vw;
}

mat-list {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    height: auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 4px 8px 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.mat-list-item {
    height: 50;
    margin: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footballer-image {
    margin-bottom: 30px;
    margin-top: 0px;
    height: 60px;
    border: 0px;
    box-shadow: none;
}



#right-side-content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}
table {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

mat-form-field {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



