<table mat-table [dataSource]="footballers">
    <ng-container matColumnDef="voornaam">
        <th mat-header-cell *matHeaderCellDef> Voornaam </th>
        <td mat-cell *matCellDef="let element"> {{footballers.firstname}} </td>
      </ng-container>
    
      <ng-container matColumnDef="achternaam">
        <th mat-header-cell *matHeaderCellDef> Achternaam </th>
        <td mat-cell *matCellDef="let element"> {{footballers.lastname}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
