mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 200px;
    background-color: #607196;
}

mat-sidenav-content{
    background-color: #E8E9ED;
}

mat-toolbar {
    background-color: #607196;
}

mat-icon {
    color: #fff;
}

mat-list-item {
    background-color: #607196;
}

mat-list-item:hover {
    background-color: #1d2429;
}

a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}